
body{
		background-color: #eff0ef;
}
.A-main-a,.A-main-b{
	width: 14rem;
	height: 10rem;
	background-color: white;
	left: 50%;
	top: 0.7rem;
	margin-left: -7rem;
}
.A-main-b{
	top: 11.3rem;
}
.A-main-button{
	width: 100%;
	height: 2.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
}
.img{
	width: 100%;
	height: 6.25rem;
	background: url(../img/E-bj_03.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.img2{
	background: url(../img/F-bj_03.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.p p{
	padding-left: 0.7rem;
	line-height: 1.1rem;
}
.p p:nth-of-type(1){
	font-size: 0.7rem;
	margin-top: 0.3rem;
}
.p p:nth-of-type(2){
	font-size: 0.6rem;
	color: #54c6d6;
	font-family: "微软雅黑";
}
.A-main-button form{
	float: right;
	width: 50%;
	height: 100%;
}
.A-main-button form button{
	width: 100%;
	height: 100%;
	font-size: 0.7rem;
	border-top:none ;
	border-bottom:none ;
	border-right:none ;
	border-color: #c9c9c9;
	color: #5b5b5b;
	padding-left: 3.5rem;
	box-sizing: border-box;
	text-align: left;
}
.A-main-button form:nth-of-type(2) button{
	border-left:none ;
	background: #e8e8e8 url(../img/E-gm_03.png) no-repeat 1.7rem center;
    background-size: 18% 55%;
}
.A-main-button form:nth-of-type(1) button{
	padding-left: 3.2rem;
	background: #e8e8e8 url(../img/E-gm_05.png) no-repeat 1.43rem center;
    background-size: 18% 55%;
}
.F-main-a,.F-main-b{
	height: 9.45rem;
}
.F-main-b{
	top: 11.2rem;
}
.mtop5{
	margin-top: 0.5rem !important;
}
